venv
__pycache__
venv3.12
catboost_info
api_tokens.py
.neptune
boston_tuning
dataset
PetImages
yolov8n.pt
yolov8s.pt
pedestrian_detector_svm.pkl
face
people
person_dataset
orig
processed
models
venv_mediapipe
runs
in 
out
images
video
venv3.11
open3D
venv2
